{{! **************************************************************************  }}
{{!  src/views/adminDashboardProducts.handlebars }}
{{! **************************************************************************  }}

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header class='products_header p-2'>
      <div class='container'>
        <div class='d-flex align-items-center justify-content-between p-2'>
          <div class='d-none d-xl-block'>
            <h4 class='m-0'>Freelo ECOM</h4>
            <p class='form_p d-none d-xl-block text-center m-0'>ONLINE <span class='fw-bold'>SHOP</span></p>
          </div>
          <div class='d-flex justify-content-center align-items-center ms-md-4'>
            <h3 class='fw-bold text-center d-none d-xl-block'><span class='text-uppercase'>{{user.role}}</span> | Products |</h3>
            <h3 class='fw-bold text-center d-xl-none m-0'><span class='text-uppercase'>{{user.role}}</span></h3>
            <h5 class='text-center m-0 ms-2 d-flex'><span class='d-none d-xl-block me-2'>Total:</span><span class='text-primary' id='totalProductsValue'> {{totalProducts}} </span></h5>
          </div>
          <div class='d-flex justify-content-center align-items-center'>
            <div class='d-flex align-items-center justify-content-center mb-md-2 me-3'>
              <div>
                <a class='btn btn-warning' href='/admin' role='button'>Profile</a>
              </div>
              <div class='ps-2'>
                <a class='btn btn-dark d-none d-xl-block' href='/admin/dashboard/users' role='button'>Admin Users</a>
              </div>
              <div class='ps-md-2'>
                <a class='btn btn-outline-danger' href='/api/session/auth/logout'>Logout</a>
              </div>
            </div>
            <div class='text-secondary d-none d-xl-block'>
              <div class='text-secondary d-none d-xl-block'>
                <p class='font_id mb-0'><span class='fw-bold'>Role: </span> <span class='fw-bold text-danger text-uppercase'>{{user.role}} </span> </p>
                <p class='font_id mb-0'><span class='fw-bold'>Email: </span> <span id='userEmail'>{{user.email}}</span></p>
                <p class='font_id mb-2'><span class='fw-bold'>User ID: </span> <span id='cartId'>{{user._id}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class='container pt-4 text-center mb-5'>
      <div class='section_products'>
        <div class='pb-3'>
          <a id='mockingButton' class='btn btn-primary' href='#' role='button'>Mocking Products</a>
        </div>
        <div class='table-responsive border border-light border-1 p-4 mt-2'>
          <h3 class='text-center pb-2'>Detalle de Productos</h3>
          <table id='product-table' class='table table-bordered table-striped'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Código</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Imagen</th>
                <th>Owner Role</th>
                <th>Owner ID</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
                <tr id='{{_id}}'>
                  <td>{{_id}}</td>
                  <td>{{title}}</td>
                  <td>{{code}}</td>
                  <td>{{price}}</td>
                  <td>{{stock}}</td>
                  <td>{{category}}</td>
                  <td>{{thumbnails}}</td>
                  <td>{{owner.role}}</td>
                  <td>
                    {{#if owner.id}}
                      {{owner.id}}
                    {{else}}
                      null
                    {{/if}}
                  </td>
                  <td><button class='btn btn-danger btn-sm' onclick='deleteProduct("{{_id}}")'>Eliminar</button></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <div class='row mt-4'>
            <div class='col-12'>
              <nav aria-label='Pagination'>
                <ul class='pagination justify-content-center'>
                  {{#if hasPrevPage}}
                    <li class='page-item'>
                      <a class='page-link' href='{{prevLinkAdmin}}'>&laquo; Previous page</a>
                    </li>
                  {{/if}}
                  <li class='page-item active'>
                    <span class='page-link'>Page {{currentPage}}</span>
                  </li>
                  {{#if hasNextPage}}
                    <li class='page-item'>
                      <a class='page-link' href='{{nextLinkAdmin}}'>Next page &raquo;</a>
                    </li>
                  {{/if}}
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class='d-flex flex-column justify-content-center align-items-center border border-light border-1 mt-4'>
          <div class='d-flex flex-column flex-xl-row justify-content-center align-items-center align-items-xl-start p-2 p-md-4'>
            <div class='m-md-3'>
              <form id='productForm' class='bg-light p-4 rounded'>
                <h3 class='text-center pb-2'>Crear Producto</h3>
                <div class='row'>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='title'>Título:</label>
                      <input type='text' class='form-control' id='titleCreate' name='title' required />
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='code'>Código:</label>
                      <input type='text' class='form-control' id='codeCreate' name='code' required />
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <label for='description'>Descripción:</label>
                  <textarea class='form-control' id='descriptionCreate' name='description' required></textarea>
                </div>
                <div class='row'>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='price'>Precio:</label>
                      <input type='number' class='form-control' id='priceCreate' name='price' step='0.01' required />
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='stock'>Stock:</label>
                      <input type='number' class='form-control' id='stockCreate' name='stock' required />
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <label for='category'>Categoría:</label>
                  <input type='text' class='form-control' id='categoryCreate' name='category' required />
                </div>
                <div class='form-group'>
                  <label for='file'>Imágenes:</label>
                  <input type='file' class='form-control' id='fileCreate' name='image' multiple />
                  <small class='form-text text-muted'>* Campo no requerido</small>
                </div>
                <div class='text-center mt-4 d-grid gap-2'>
                  <button type='submit' class='btn btn-dark mb-2'>Crear producto</button>
                </div>
              </form>
            </div>
            <div class='m-md-3'>
              <form id='productUpdate' class='bg-light p-4 rounded'>
                <h3 class='text-center pb-2'>Actualizar Producto</h3>
                <div class='form-group'>
                  <label for='_id'>ID</label>
                  <input type='text' class='form-control' id='_id' name='_id' required />
                </div>
                <div class='row'>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='title'>Título:</label>
                      <input type='text' class='form-control' id='title' name='title' />
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='code'>Código:</label>
                      <input type='text' class='form-control' id='code' name='code' />
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <label for='description'>Descripción:</label>
                  <textarea class='form-control' id='description' name='description'></textarea>
                </div>
                <div class='row'>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='price'>Precio:</label>
                      <input type='number' class='form-control' id='price' name='price' step='0.01' />
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='form-group'>
                      <label for='stock'>Stock:</label>
                      <input type='number' class='form-control' id='stock' name='stock' />
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <label for='category'>Categoría:</label>
                  <input type='text' class='form-control' id='category' name='category' />
                </div>
                <div class='form-group'>
                  <label for='file'>Imágenes:</label>
                  <input type='file' class='form-control' id='file' name='image' multiple />
                  <small class='form-text text-muted'>* Campo no requerido</small>
                </div>
                <div class='text-center mt-4 d-grid gap-2'>
                  <button type='submit' class='btn btn-dark mb-2'>Actualizar producto</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/adminDashboardProducts/index.js'></script>
  </body>
</html>