{{! **************************************************************************  }}
{{!  src/views/carts.handlebars }}
{{! **************************************************************************  }}

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header class='products_header p-2'>
      <div class='container'>
        <div class='d-flex align-items-center justify-content-between p-2'>
          <div class='d-flex flex-column'>
            <h4 class='m-0'>Freelo ECOM</h4>
            <p class='form_p d-none d-xl-block text-center m-0'>ONLINE <span class='fw-bold'>SHOP</span></p>
          </div>
          <div class='d-flex justify-content-center align-items-center ms-md-4'>
            <div class='d-flex align-items-center mb-2'>
              <div class='d-flex align-items-center pe-2'>
                <div class='me-2'>
                  <img src='../../img/cart.svg' alt='cart' />
                </div>
                <h5 class='m-0 text-danger fw-bold'><span id='totalProductosCarrito'>{{totalCartProducts}}</span></h5>
              </div>
              <div class='me-4'>
                <a class='btn btn-dark' href='/products' role='button'>Productos</a>
              </div>
            </div>
            <div class='text-secondary d-none d-xl-block'>
              <p class='font_id mb-1'><span class='fw-bold'>Cart ID: </span> <span id='cartId'>{{user.cart}}</span></p>
            </div>
          </div>
          <div class='d-flex justify-content-center align-items-center'>
            <div class='d-flex flex-column flex-md-row justify-content-center align-items-center mb-2 me-4'>
              <div>
                <a class='btn btn-warning mb-2 mb-md-0' href='/user' role='button'>Profile</a>
              </div>
              <div class='ps-2'>
                <a class='btn btn-outline-danger' href='/api/session/auth/logout'>Logout</a>
              </div>
            </div>
            <div class='text-secondary d-none d-xl-block'>
              <div class='text-secondary d-none d-xl-block'>
                <p class='font_id mb-0'><span class='fw-bold'>Role: </span> <span class='fw-bold text-danger text-uppercase'>{{user.role}} </span> </p>
                <p class='font_id mb-0'><span class='fw-bold'>Email: </span> <span id='userEmail'>{{user.email}}</span></p>
                <p class='font_id mb-0'><span class='fw-bold'>User ID: </span> <span id='cartId'>{{user._id}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class='container py-5 h-100'>
      <div class='section_carts'>
        <div class='d-flex flex-column justify-content-center align-items-center'>
          <div class='d-flex flex-column align-items-center justify-content-center'>
            <div class='mb-2'>
              <img class='img-fluid' src='../../img/big_cart.svg' alt='full_cart' />
            </div>
            <h3 class='fw-bold text-center'>Carrito</h3>
          </div>
          <h4 class='mt-2'><span class='text-secondary'>Total: </span><span>$ </span><span id='totalAmountValue'>{{totalAmount}}</span></h4>
        </div>
        {{#compare totalCartProducts '>' 0}}
          <div class='emptyCart'>
            <div>
            </div>
            <div class='table-responsive'>
              <table class='table table-bordered table-striped'>
                <thead>
                  <tr>
                    <th>Product ID</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Código</th>
                    <th>Categoría</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <p class='font_id mb-2'><span class='fw-bold'></span> <span id='cartDivId' data-cart-id='{{user.cart}}'></span></p>
                <tbody class='tbody'>
                  {{#each carts}}
                    {{#each this.products}}
                      <tr id='{{this.productId._id}}'>
                        <td>{{this.productId._id}}</td>
                        <td>{{this.productId.title}}</td>
                        <td>{{this.productId.description}}</td>
                        <td>{{this.productId.code}}</td>
                        <td>{{this.productId.category}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.productId.price}}</td>
                        <td>
                          <button class='btn btn-danger btn-sm' onclick='deleteCartProduct("{{this.productId._id}}")'>
                            Eliminar
                          </button>
                        </td>
                      </tr>
                    {{/each}}
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class='d-flex flex-column justify-content-center align-items-center'>
              <div class='col-8 col-sm-6 col-md-4 col-lg-2'>
                <div class='text-center mt-3 d-grid gap-2'>
                  <a class='btn btn-dark comprar_btn' href='/orden/{{user.cart}}' role='button'>Comprar</a>
                </div>
                <div class='text-center mt-3 d-grid gap-2'>
                  <button class='btn btn-outline-danger' onclick='deleteAllProductsCart("{{cartId}}")'>
                    Vaciar carrito
                  </button>
                </div>
              </div>
            </div>
          </div>
        {{else}}
        {{/compare}}
        <div class='d-flex flex-column justify-content-center align-items-center'>
          <div class='col-8 col-sm-6 col-md-4 col-lg-2'>
            <div class='text-center mt-3 d-grid gap-2'>
              <a class='btn btn-warning pe-3' href='/products' role='button'>Volver a productos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/carts/index.js'></script>
  </body>
</html>