{{! **************************************************************************  }}
{{!  src/views/payments.handlebars }}
{{! **************************************************************************  }}

<html>
  <head>
    <title>{{title}}</title>
    <script src='https://js.stripe.com/v3/'></script>
  </head>
  <body>
    <header class='products_header p-2'>
      <div class='container'>
        <div class='d-flex align-items-center justify-content-between p-2'>
          <div class='d-flex flex-column'>
            <h4 class='m-0'>Freelo ECOM</h4>
            <p class='form_p d-none d-xl-block text-center m-0'>ONLINE <span class='fw-bold'>SHOP</span></p>
          </div>
          <div class='d-flex justify-content-center align-items-center ms-md-4'>
            <div class='d-flex align-items-center mb-2'>
              <div class='d-flex align-items-center pe-2'>
                <div class='me-2'>
                  <img src='../../img/cart.svg' alt='cart' />
                </div>
                <h5 class='m-0 text-danger fw-bold'><span id='totalProductosCarrito'>{{totalCartProducts}}</span></h5>
              </div>
              <div class='me-4'>
                <a class='btn btn-dark' href='/products' role='button'>Productos</a>
              </div>
            </div>
            <div class='text-secondary d-none d-xl-block'>
              <p class='font_id mb-1'><span class='fw-bold'>Cart ID: </span> <span id='cartDivId' data-cart-id='{{user.cart}}'>{{user.cart}}</span></p>
            </div>
          </div>
          <div class='d-flex justify-content-center align-items-center'>
            <div class='d-flex flex-column flex-md-row justify-content-center align-items-center mb-2 me-4'>
              <div>
                <a class='btn btn-warning mb-2 mb-md-0' href='/user' role='button'>Profile</a>
              </div>
              <div class='ps-2'>
                <a class='btn btn-outline-danger' href='/api/session/auth/logout'>Logout</a>
              </div>
            </div>
            <div class='text-secondary d-none d-xl-block'>
              <div class='text-secondary d-none d-xl-block'>
                <p class='font_id mb-0'><span class='fw-bold'>Role: </span> <span class='fw-bold text-danger text-uppercase'>{{user.role}} </span> </p>
                <p class='font_id mb-0'><span class='fw-bold'>Email: </span> <span id='emailDivId' data-email-id='{{user.email}}'>{{user.email}}</span></p>
                <p class='font_id mb-0'><span class='fw-bold'>User ID: </span> <span id='cartId'>{{user._id}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class='container py-5 h-100'>
      <div class='container mt-5'>
        <div class='d-flex justify-content-center align-items-center'>
          <div class='p-4 mt-5 border border-light rounded mt-5 col-12 col-md-8 bg-light'>
            <div class='d-flex flex-column justify-content-center align-items-center'>
              <h4><span class='text-secondary'>Total: </span><span>$ </span><span id='totalAmountValue'>{{totalAmount}}</span></h4>
              <h2 class='mb-3'>Stripe Payment</h2>
            </div>
            <form id='payment-form border'>
              <div class='p-3 border border-secondary rounded'>
                <div class='form-row'>
                  <label for='card-element'>
                    Credit or debit card
                  </label>
                  <div id='card-element'>
                  </div>
                  <div id='card-errors' role='alert'></div>
                </div>
              </div>
              <div class='d-flex justify-content-center align-items-center'>
                <div class='text-center mt-4'>
                  <button class='btn btn-dark pe-3' id='submit-finalizar-btn' type='button'>Realizar Pago y Finalizar Compra</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/payments/index.js'></script>
  </body>
</html>